<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Products</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>All Products</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Unit</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">Id</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.description}">Description</td>
                <td th:text="${product.category.name}">Category</td>
                <td th:text="${product.price}">Price</td>
                <td th:text="${product.amount}">Amount</td>
                <td th:text="${product.unit.unit}">Unit</td>
                <td><a th:href="${'/products/edit/' + product.id}" class="btn btn-default">Edit</a></td>
                <td><a th:href="${'/products/delete/' + product.id}" class="btn btn-danger show_confirm">Delete</a></td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" th:src="@{/js/delete_confirmation.js}"></script>
    
    <th:block th:include="layout/pagination"></th:block>
    
</div>
</body>
</html>